mixin scroll(houseList, defaultImg, userType, houseType)
  if houseList.length != 0
    .mui-scroll-wrapper
      div(class="mui-scroll" style={width: communityAround.length * 27.6 + 'rem'})
        each houseInfo in houseList
          div(class="mui-card line-item")
            a(class="block-like link-a" href='/house/getHouseDetail?houseId=' + houseInfo.id + '&userType=' + userType + '&houseType=' + houseType)
              .mui-card-content
                .pic-wrap
                  if houseInfo.surface_img != ''
                    img(src=houseInfo.surface_img)
                  else
                    img(src=defaultImg)
                h4=houseInfo.cmt_name + ' ' + houseInfo.build_date + '年建'
                .text-wrap
                  span.red-text=houseInfo.averprice + (houseType=='1'?'元/平':'元/月')
