doctype html
html(lang="en")
  head
    title 主页
    style.
      .block-item {
        margin: 0 50px;
      }

      .block-item a {
        display: block;
        padding: 25px 50px;
        color: #fff;
        background-color: #555;
      }
  body
    div.block-item
      a(href="/houseDetail") houseDetail
    div.block-item
      a(href="/communityDetail") communityDetail


